/* UTILS */

:root {
  --pin-heigth: 50px;
  --image-modal-width: 800px;
}

/* HEADER */

header {
  background-image: url(../img/wall.png);
  background-size: contain;
  position: relative;
  opacity: 1;
}

.header-title {
  font-size: min(15vw, 100px);
  font-style: italic;
}

/* MAIN */

main {
  background-image: url(../img/cork.png);
  background-size: contain;
  min-height: 100vh;
  opacity: 1;
}

/* CARD */

.card {
  border-radius: 0px !important;
  position: relative;
  height: 100%;
}

.card::before {
  background-image: url(../img/pin.svg);
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  height: var(--pin-heigth);
  position: absolute;
  left: calc(50% - (var(--pin-heigth) / 2));
  top: calc(calc(var(--pin-heigth) / 3) * -1);
}

/* MODAL */

#image-modal-container {
  position: fixed;
  z-index: 1;
  top: 10%;
  left: calc(50% - var(--image-modal-width) / 2);
}

#image-modal {
  width: var(--image-modal-width);
}

.btn {
  font-size: 2rem;
  padding: 20px 30px;
}

.obfuscated {
  opacity: 0.5;
}

@media screen and (max-width: 576px) {
  :root {
    --pin-heigth: 70px;
  }
  .card-text.fs-5 {
    font-size: 2rem !important;
  }
}
