/* HEADER */

header {
  background-image: url(../img/wall.png);
  background-size: contain;
  height: 200px;
}

.header-title {
  font-size: 100px;
  font-style: italic;
}

/* MAIN */

main {
  background-image: url(../img/cork.png);
  background-size: contain;
}

.card {
  border-radius: 0px !important;
}
