/* UTILS */

:root {
  --pin-heigth: 40px;
  --image-modal-width: 600px;
}

/* HEADER */

header {
  background-image: url(../img/wall.png);
  background-size: contain;
  position: relative;
}

.header-title {
  font-size: min(15vw, 100px);
  font-style: italic;
}

/* MAIN */

main {
  background-image: url(../img/cork.png);
  background-size: contain;
}

/* CARD */

.card {
  border-radius: 0px !important;
  position: relative;
}

.card::before {
  background-image: url(../img/pin.svg);
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  height: var(--pin-heigth);
  position: absolute;
  left: calc(50% - (var(--pin-heigth) / 2));
  top: calc(calc(var(--pin-heigth) / 3) * -1);
}

/* MODAL */

#image-modal-container {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: calc(50% - var(--image-modal-width) / 2);
}

#image-modal {
  width: var(--image-modal-width);
}

.btn {
  font-size: 2rem;
  padding: 20px 30px;
}
